{% set graphql = graphql.nodeById %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  <h1 class="h1-alike">{{ graphql.title }}</h1>
  {{ title_suffix }}

  {# Body Text #}
  {% include '@modules/lead/lead.twig' with {'lead': graphql.body.processed} %}

  {# load content modules #}
  {{ content.field_contents }}
</article>
